.submit-button-section {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  gap: 8px;
}

.demo-button {
  background-color: var(--info);
  height: 100%;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.demo-button:hover {
  background-color: var(--info-hover);
}

.loading-spinner-button {
  width: 18px;
  height: 18px;
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-top-color: #000;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
